Hi! <mention email="{{ email }}"/> I'm here to help you to create your lunch expense faster !

<br/>
<br/>
You can display this help message at anytime just by saying <b>help</b>
<br/>
<br/>

<h2>How to authenticate ?</h2>

Before creating expenses you need to authenticate using the <b>auth</b> command.
<ol>
<li>Login on Expensify</li>
<li>Browse to <a href="https://www.expensify.com/tools/integrations/">https://www.expensify.com/tools/integrations/</a></li>
<li>Get your credentials : <i>partnerUserID</i> and <i>partnerUserSecret</i></li>
<li>Ask me to authenticate using the following : <span><b>auth</b> YOUR_PARTNER_USER_ID YOUR_PARTNER_USER_SECRET</span></li>
</ol>

<h2>How to expense ?</h2>

Just use the <b>expense</b> command, here are some examples :

<ul>
<li><b>expense</b> 12.30$ pasta party</li>
<li><b>expense</b> Les farcis de Sophie 12 €</li>
</ul>